#offerModal {
  inset: 0;
  & > div:first-child {
    z-index: 1;
    height: 460px;
    width: 480px;
    padding: 20px;
    top: 50%;
    left: 50%;
  }
}
#buyModal {
  inset: 0;
  & > div > div {
    z-index: 1;
    top: 50%;
    left: 50%;
    padding: 20px;
  }
}
#cancelModal {
  inset: 0;
  & > div > div {
    z-index: 1;
    top: 50%;
    left: 50%;
    padding: 20px;
  }
}
.modals {
  & > div {
    padding: 6px;
    & > p {
      padding: 7px;
    }
    & > img {
      width: 50px;
      height: 50px;
    }
  }
  & > div:first-child > p {
    font: normal normal bold 25px/23px Nunito;
    color: #525252;
  }
  & > p {
    margin-bottom: 15px;
  }
}
.titleFont {
  font: normal normal normal 13px/16px Nunito;
  color: #555555;
}
.buyPrice {
  margin-left: auto;
  font: normal normal bold 18px/32px Nunito;
  color: #525252;
}
.offerArea > div {
  padding: 10px;
  border: 1px solid #e0e0e0;
  margin: 15px 0;
  & > label {
    font: normal normal normal 15px/20px Nunito;
    color: #525252;
  }
}
.customOfferDiv,
#customOffer {
  background-color: #f4f4f4;
}
div > label {
  margin: 0 5px;
}
.exit {
  background-color: #fff;
  margin-left: auto;
  & > img {
    width: 18px;
    height: 18px;
  }
}
.confirmButton {
  width: 315px;
  padding: 10px;
  color: #fff;
}
.buyModalButton {
  gap: 10px;
  & > button {
    padding: 10px;
    font: normal normal bold 18px/24px Nunito;
  }
}
.buyTxt {
  font: normal normal bold 25px/23px Nunito;
  color: #525252;
}
.buyTitle {
  font: normal normal normal 15px/23px Nunito;
  color: #555555;
  margin: 0 80px;
}
.bg4b9ce2O7 {
  background-color: rgba(75, 156, 226, 0.7);
}
@media screen and (max-width: 760px) {
  #buyModal > div:first-child {
    padding: 0 10px;
    width: 100%;
    & > .modals {
      width: 100%;
    }
  }
  .buyTitle {
    margin: 0;
  }
}
