.profileDetail {
  padding: 15px 30px;
  gap: 10px;
  margin-bottom: 10px;
  & img {
    width: 38px;
    height: 38px;
  }
}
.offersArea {
  padding: 20px 30px;
}
.offerListButton {
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 5px;
  gap: 30px;
  font: normal normal normal 15px/20px Nunito;
  color: #b1b1b1;
}
.receivedOffer {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #f2f2f2;
  gap: 10px;
  & > div > img {
    width: 78px;
    height: 84px;
  }
  & div {
    gap: 7px;
  }
  & > p {
    margin-left: auto;
  }
}
.receivedOfferValue {
  padding: 8px 10px;
}
.receivedOfferButton {
  margin-left: auto;
  & button {
    padding: 5px 20px;
  }
}
.selectedList {
  border-bottom: 1px solid #4b9ce2;
  font: normal normal bold 15px/20px Nunito;
  color: #4b9ce2;
}
.pad15 {
  padding: 15px 0;
}
.color46af32 {
  color: #46af32;
}
@media screen and (max-width: 760px) {
  .receivedOffer {
    flex-direction: column;
  }
  .pad15 {
    width: 100%;
  }
  .offersArea {
    padding: 10px;
  }
  .offerListButton {
    justify-content: center;
  }
}
