.profileDetail {
  padding: 15px 30px;
  gap: 10px;
  margin-bottom: 10px;
}
.profileDetail > img {
  width: 38px;
  height: 38px;
}
.offersArea {
  padding: 20px 30px;
}
.offerListButton {
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 5px;
  gap: 30px;
  font: normal normal normal 15px/20px Nunito;
  color: #b1b1b1;
}
.receivedOffer {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #f2f2f2;
  gap: 10px;
}
.receivedOffer > img {
  width: 78px;
  height: 84px;
}
.receivedOffer > div {
  gap: 7px;
}
.receivedOffer > p {
  margin-left: auto;
}
.receivedOfferValue {
  padding: 8px 10px;
}
.receivedOfferButton {
  margin-left: auto;
}
.receivedOfferButton > button {
  padding: 5px 20px;
}
.selectedList {
  border-bottom: 1px solid #4b9ce2;
  font: normal normal bold 15px/20px Nunito;
  color: #4b9ce2;
}
.failSignModal {
  background-color: #ffe5e5;
  box-shadow: 0px 3px 12px #1e36482e;
  top: 10%;
  left: 80%;
  padding: 20px 10px;
}
.failSignModal > img {
  margin-right: 10px;
  object-fit: fill;
  width: 22px;
  height: 22px;
}
.failSignModal > p {
  font: normal normal normal 16px/23px Nunito;
  color: #f77474;
}
.succesBuyModal {
  background-color: #f1fff0;
  box-shadow: 0px 3px 12px #1e36482e;
  top: 10%;
  left: 80%;
  padding: 20px 10px;
}
.succesBuyModal > img {
  margin-right: 10px;
  object-fit: fill;
  width: 22px;
  height: 22px;
}
.succesBuyModal > p {
  font: normal normal normal 16px/23px Nunito;
  color: #46af32;
}
