.addProductArea {
  padding: 30px;
}
.padR45 {
  padding-right: 45px;
  border-right: 1px solid #f2f2f2;
}
.padL45 {
  padding-left: 45px;
}
.marginB30 {
  margin-bottom: 30px;
}
.inputArea {
  background-color: #f4f4f4;
  padding: 10px 15px;
  margin-top: 5px;
}
.inputArea:focus {
  border: 1px solid #4b9ce2;
  background-color: #f0f8ff;
}
.paragraph {
  margin-top: 25px;
  font: normal normal normal 15px/20px Nunito;

  color: #525252;
}
.bold {
  margin-bottom: 25px;
  font: normal normal bold 25px/23px Nunito;
  color: #525252;
}
.description {
  height: 92px;
}
.flexbox {
  gap: 24px;
}
select:focus-visible {
  outline: none;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 25px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2196f3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.saveButtonDiv > button {
  margin-left: auto;
  padding: 10px;
  width: 315px;
  font: normal normal bold 18px/24px Nunito;
}
