* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
body {
  background-color: #f2f2f2;
}
button {
  cursor: pointer;
}
p {
  text-transform: capitalize;
}
input {
  outline: none;
}
.d-flex {
  display: flex;
}
.d-inline {
  display: inline;
}
.d-block {
  display: block;
}
.d-grid {
  display: grid !important;
}
.d-none {
  display: none !important;
}
.width80 {
  width: 80%;
  margin: 0 auto;
}
.full-w {
  width: 100%;
}
.full-h {
  height: 100%;
}
.semi-w {
  width: 50%;
}
.space-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.p-absolute {
  position: absolute;
}
.p-relative {
  position: relative;
}
.c-pointer {
  cursor: pointer;
}
.flex-d-col {
  flex-direction: column;
}
.p-fixed {
  position: fixed;
}
.v-hidden {
  visibility: hidden;
}
.v-visible {
  visibility: visible;
}
.border-r-8 {
  border-radius: 8px;
}
.grayBackground {
  background-color: #f2f2f2;
}
.whiteBackground {
  background-color: #fff;
  border-radius: 8px;
}
.bgf0f8ff {
  background-color: #f0f8ff;
}
.colorf0f8ff {
  color: #f0f8ff;
}
.bg4b9ce2 {
  background-color: #4b9ce2;
}
.color4b9ce2 {
  color: #4b9ce2;
}
.bgf77474 {
  background-color: #f77474;
}
.colorf77474 {
  color: #f77474;
}
.succesBuyModal {
  background-color: #f1fff0;
  box-shadow: 0px 3px 12px #1e36482e;
  top: 10%;
  left: 80%;
  padding: 20px 10px;
}
.succesBuyModal > img {
  margin-right: 10px;
  object-fit: contain;
  width: 22px;
  height: 22px;
}
.succesBuyModal > p {
  font: normal normal normal 16px/23px Nunito;
  color: #46af32;
}
.failSignModal {
  background-color: #ffe5e5;
  box-shadow: 0px 3px 12px #1e36482e;
  top: 10%;
  left: 80%;
  padding: 20px 10px;
}
.failSignModal > img {
  margin-right: 10px;
  object-fit: contain;
  width: 22px;
  height: 22px;
}
.failSignModal > p {
  font: normal normal normal 16px/23px Nunito;
  color: #f77474;
}
.inputErr {
  background-color: #fff2f2 !important;
  border-color: #f77474 !important;
  color: #f77474;
}
@media screen and (max-width: 760px) {
  .failSignModal,
  .succesBuyModal {
    top: 3%;
    left: 5%;
  }
}
