#offerModal > div:first-child {
  z-index: 1;
  height: 460px;
  width: 480px;
  padding: 20px;
  top: 50%;
  left: 50%;
}
#buyModal > div {
  z-index: 1;
  top: 50%;
  left: 50%;
  padding: 20px;
}
#offerModal {
  inset: 0;
}
#buyModal {
  inset: 0;
}
.modals > div > img {
  width: 50px;
  height: 50px;
}
.modals > div {
  padding: 6px;
}
.buyPrice {
  margin-left: auto;
}
.modals > div > p {
  padding: 7px;
}
.offerArea > div {
  padding: 10px;
  border: 1px solid #e0e0e0;
  margin: 15px 0;
}
.customOfferDiv,
#customOffer {
  background-color: #f4f4f4;
}
div > label {
  margin: 0 5px;
}
.modals > p {
  margin-bottom: 15px;
}
.exit {
  background-color: #fff;
  margin-left: auto;
}
.exit > img {
  width: 18px;
  height: 18px;
}
.confirmButton {
  width: 315px;
  padding: 10px;
  color: #fff;
}
.buyModalButton {
  gap: 10px;
}
.buyModalButton > button {
  padding: 10px;
}
.bg4b9ce2O7 {
  background-color: rgba(75, 156, 226, 0.7);
}
.failSignModal {
  background-color: #ffe5e5;
  box-shadow: 0px 3px 12px #1e36482e;
  top: 10%;
  left: 80%;
  padding: 20px 10px;
}
.failSignModal > img {
  margin-right: 10px;
  object-fit: fill;
  width: 22px;
  height: 22px;
}
.failSignModal > p {
  font: normal normal normal 16px/23px Nunito;
  color: #f77474;
}
.succesBuyModal {
  background-color: #f1fff0;
  box-shadow: 0px 3px 12px #1e36482e;
  top: 10%;
  left: 80%;
  padding: 20px 10px;
}
.succesBuyModal > img {
  margin-right: 10px;
  object-fit: fill;
  width: 22px;
  height: 22px;
}
.succesBuyModal > p {
  font: normal normal normal 16px/23px Nunito;
  color: #46af32;
}
