.productList {
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.product > div > img {
  width: 100%;
}
.brand {
  color: #4b9ce2;
  font: normal normal bold 15px/22px Nunito;
}
.product {
  background-color: #fff;
  padding: 10px;
}
.productImg {
  margin-bottom: 5px;
}
.productColor {
  font: normal normal normal 13px/22px Nunito;
  color: #3e3e3e;
}
.productPrice {
  font: normal normal normal 18px/22px Nunito;
  color: #3e3e3e;
  margin-top: 25px;
}
